body {
    margin: 0px;
    padding: 0px;
    background-color: #474E5D;
    color: white;
}

.navbar {
    margin: 0px;
    padding: 0px;
}

.compName {
    background-image: url('tuscany-villas-sant-anna.jpg');
    background-size: 100% 100%;
    margin-top: 0px;
    height: 375px;
    text-align: center;
    padding: 0px;
}

.sidePic {
    background-image: url('Versilia.jpg');
    background-size: cover;
    margin-top: 0px;
    height: 375px;
    padding: 0px;
}

.locations {
    text-align: center;
    margin-bottom: 30px;
    padding-bottom: 30px;
    margin: auto;
}

#locationheader {
    padding: 30px;
}

/*location 1 styling*/
#location1row {
    width: auto;
    background-color: white;
    margin-bottom: 10px;
}

#location1 {
    color: black;
    margin-top: 30px;
    padding-top: 30px;
    padding-left: 50px;
    text-align: left;
}

#loc1pic {
    padding-top: 60px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
    background-color: white;
}

#loc1btn {
    color: white;
    background-color: #474E5D;
    padding: 7px;
    padding-left: 12px;
    padding-right: 12px;
    border: none;
}
/*location 2 styling*/
#location2row {
    width: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background: none;
}

#location2 {
    padding-top: 30px;
    padding-left: 30px;
    text-align: left;
    margin: auto;
    background-color: #474E5D;
}

#loc2pic {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 20px;
    margin: auto;
    background-color: #474E5D;
}

#loc2btn {
    color: black;
    padding: 7px;
    padding-left: 12px;
    padding-right: 12px;
    border: none;
}
/*location 3 styling*/

#location3row {
    width: auto;
    background-color: white;
    margin-top: 10px;
}

#location3 {
    color: black;
    margin-top: 30px;
    padding-top: 30px;
    padding-left: 50px;
    text-align: left;
    background-color: white;
}

#loc3pic {
    padding-top: 60px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
    background-color: white;
}

#loc3btn {
    color: white;
    background-color: #474E5D;
    padding: 7px;
    padding-left: 12px;
    padding-right: 12px;
    border: none;
}

/*AMMENITIES*/

#ammenities {
    text-align: center;
    background-color: white;
    color: black;
}

#ammenrow1 {
    width: auto;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 60px;
}

#ammenitieshead {
    background-color: #474E5D;
    color: white;
    padding-bottom: 30px;
}

#receptions {
    background-image: url('3b-348x348.jpg');
    background-size: cover;
    color: white;
    height: 350px;
}

#centertext {
    margin-top: 175px;
    color: white;
}

span {
    background: rgba(100,100,100,0.7);
}

#picbtn {
    margin-top: 175px;
    background-color: rgba(100,100,100,0.8);
    font-size: 1.8em;
    border: none;
    padding: .6em;
    color: white;
}

#occasion {
    height: 350px;
}

#relax {
    background-image: url('42-348x348.jpg');
    background-size: cover;
    height: 350px;
}
